.window-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000;
    top: 60vh;
    left: 10vw;
    height: 30vh;
    width: 25vw;
    background-color: white;
    border-radius: 40px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    3px 3px 3px rgba(20, 20, 20, .3) inset;
}

.export {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: seagreen;
}

.import {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
