.box {
  background-color: white;
  width: 250px;
  border-bottom: 25px solid #2e2e2e;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.title-space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #2e2e2e;
  color: white;
}

.box h2 {
  font-size: 30px;
  font-weight: 600;
}
.box ul {
  position: relative;
  background: #fff;
  margin: 5px 0 5px;
}
.box ul:hover li {
  opacity: 0.4;
}
.box ul li {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.box ul li:hover {
  transform: scaleY(1.1);
  z-index: 5;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.trashbin {
  color: #ffffff;
}
.box ul li:hover .trashbin {
  color: rgb(250, 89, 89);
}
.box ul li span {
  width: 60%;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 20px;
  background: transparent;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  transform: translateY(-2px);
}
.box ul li:hover span {
  background: transparent;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999;
  position: absolute;
  top: 15vh;
  left: 5vw;
  height: 20%;
  width: 20%;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(20, 20, 20, .3) inset;
  background-color: rgb(255, 255, 255);
}

.popup p {
  font-size: 1em;
  padding: 1vh 5vw;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 80%;
  gap: 20%;
}
