.export-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 20vh;
    border: 0.2px #cfcfcf solid;
    border-radius: 5px;
    padding: 1vw;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}

.export-field {
}
.export-code {
    font-style: italic;
    color: gray;
}

.import-field{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.import-input {
    border: 1px solid black;
    width: 80%;
    margin: 2vh 0vw;
}

.import-buttons {
    display: flex;
    align-items: center;
    gap: 2vw;
    min-height: 6vh;
    width: 100%;
}