.question-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 84vh;
    width: 60vw;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 3vh;
    overflow: hidden;
}
.image-container img {
    width: 90%;
    object-fit: contain;
}

.feedback {
    height: 10%;
    font-size: 2rem;
}
.correct {
    color: green;
}.incorrect {
    color: red;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 35%;
}

.option-buttons {
    width: 100%;
    height: 22%;
    margin: 2px;
}
