.help-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 2vw;
    height: 50vh;
    width: 15vw;
    margin-top: 20vh;
}

.help-container Button {
    width: 80%;
    height: 15%;
    background-color: white;
}

.help-container .help-text {
    width: 80%;
    margin-top: 3%;
    border-radius: 10px;
    background-color: white;
    padding: 1vw;
    border: 0.5px solid #bdbdbd;
}