.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 5vh;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    3px 3px 3px rgba(20, 20, 20, .3) inset;
}

.user-input {
    height: 3rem;
    width: 20vw;
    padding: 2vw;
    font-size: 2rem;
    text-align: center;

    border: none;
    box-shadow: 3px 3px 3px rgba(240, 240, 240, 1) inset, 3px 3px 3px rgba(240, 240, 240, 1);
}
.user-input::placeholder {
    font-style: italic;
    color: rgb(197, 197, 197);
}