.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    background-color: white;
    border-radius: 40px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    3px 3px 3px rgba(20, 20, 20, .3) inset;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 14%;
}

.trash-icon {
    color: #6b6b6b;
}
.trash-icon:hover {
    color: rgb(250, 62, 62);
}

.card-info {
    display: flex;
    justify-content: space-between;
    color: rgb(180, 165, 165);
    font-style: italic;
}

.text-box {
    display: flex;
    height:70%;
    width: 90%;
    border: 2px solid;
    border-color: rgba(110, 110, 110, 0.4);
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.2) inset,
    -5px -5px 5px rgba(110, 110, 110, 0.2) inset;
    overflow: hidden;
    word-wrap: break-word;
    padding: 2vw;
}

.text {
    text-align: center;
    margin: auto;
    font-size: 2em;
    overflow: hidden;
}

.popup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999;
  position: absolute;
  top: 15vh;
  left: 35vw;
  height: 25%;
  width: 30%;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    1px 1px 1px rgba(20, 20, 20, .3) inset;
  background-color: rgb(255, 255, 255);
}

.popup-box p {
  font-size: 1em;
  padding: 1vh 5vw;

}

.popup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20%;
}

.popup-buttons button {
    height: 50%;
}