.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 30vw;
    gap: 0vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    3px 3px 3px rgba(20, 20, 20, .3) inset;
}

.title {
    margin-bottom: 1vh;
}

.card-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 80%;
  color: #303030;
}

.text-input {
    height: 40%;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 3%;
    border: 1.5px solid #909090;
    background: white;
    text-align: center;
    color: #404040;
    word-wrap: break-word;
}

.deck-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    width: 70%;
    margin-bottom: 4vh;
    font-size: 0.9rem;
}

.dropdown {
    height: 100%;
    width: 8vw;
    border: 1px solid #909090;
    border-radius: 20px;
    text-align: center;
}

.new-deck-input {
    border: 1px solid #909090;
    border-radius: 8px;
    height: 100%;
    width: 10vw;
    padding-left: 1vw;
}
.new-deck-input::placeholder {
    font-size: 0.8rem;
    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 80%;
}
.buttons button {
    height: 5vh;
    width: 10vw;
    font-size: 1em;
    font-weight: 700;
}