.navbar {
    display: flex;
    height: 8vh;
    background-color: rgb(180, 8, 8);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20vw;
    flex-grow: 1;
}

.links {
    display: flex;
    right: 10vw;
}
.links li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 180px;
    font-size: 1.5rem;
    color: white;
}
.links li:hover {
    border-left: 1px solid rgb(160, 0, 0);
    border-right: 1px solid rgb(160, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.active {
    background-color: rgb(155, 0, 0);
    border-radius: 10px;
}

.logout {
    text-decoration: underline;
    font-size: 0.8rem;
    margin-right: 3vw;
}