.navbar {
    display: flex;
    height: 8vh;
    background-color: rgb(180, 8, 8);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20vw;
    flex-grow: 1;
}

.links {
    display: flex;
    right: 10vw;
}
.links li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 180px;
    font-size: 1.5rem;
    color: white;
}
.links li:hover {
    border-left: 1px solid rgb(160, 0, 0);
    border-right: 1px solid rgb(160, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.active {
    background-color: rgb(155, 0, 0);
    border-radius: 10px;
}

.logout {
    text-decoration: underline;
    font-size: 0.8rem;
    margin-right: 3vw;
}

.kanji-dropdown {
    position: relative;
}

.kanji-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.kanji-dropdown-menu li {
  padding: 10px 20px;
  white-space: nowrap;
}

.kanji-dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.kanji-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.kanji-dropdown:hover .dropdown-menu {
  display: block;
}