body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 10px;
    padding: 60px 40px 60px;

}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255 ,255, .5);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 55px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translate(-50%);
    font-size: 16px;
}

.wrapper .remember-me {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.wrapper button {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .2);
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper button:hover {
    background: rgb(224, 221, 221);
}

.wrapper .links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: italic;
    margin: 25px 25px 15px;

}

.wrapper .link {
    text-decoration: none;
    color: #fff;
}

.wrapper .link:hover {
    text-decoration: underline;
}