.form-box {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    margin-top: 10vh;
    width: 25vw;
    height: 65vh;
    background-color: transparent;
    border: 2px solid rgba(3,3,3,0.5);
    backdrop-filter: blur(5px);
    color: #333;
    border-radius: 10px;
    padding: 9vh 3vw;

}

.wrapper h2 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 2vh;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 1vh 0;
}

.input-box input {
    height: 2vh;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(3, 3, 3, 0.5);
    border-radius: 2em;
    font-size: 1em;
    color: #000000;
    padding: 1em 1em ;
}

.input-box input::placeholder {
    color: #5d5d5d;
}

.input-box .icon {
    position: absolute;
    right: 1em;
    top: 0.7em;
    transform: translate(-50%);
    font-size: 1em;
}

.wrapper button {
    width: 80%;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 10%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .2);
    font-size: 1em;
    color: #333;
    font-weight: 700;
}

.wrapper .remember-me {
    display: flex;
    margin-top: 5%;
    margin-left: 1vw;
}

.wrapper button:hover {
    background: rgb(224, 221, 221);
}

.wrapper .links {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-style: italic;
    margin: 2vh 1.5vw;
}

.wrapper .link {
    text-decoration: none;
    color: rgb(67, 67, 247);
}

.wrapper .link:hover {
    color: #1100ff;
    text-decoration: underline;
}