.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.bunpo-questionnaire {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 60vw;
    margin-left: 20vw;
    padding: 25vh 0 10vh 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    3px 3px 3px rgba(20, 20, 20, .3) inset;
}

.feedback {
    height: 10%;
    padding: 0vh 4vw;
    font-size: 2rem;
}
.correct {
    color: green;
}.incorrect {
    color: red;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.button-grid button {
    height: 2em;
    width: 25vw;
}

.level-buttons {
    display: flex;
    flex-direction: column;
    margin-top: -8vh;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

.level-buttons button {
    height: 8vh;
}