.container {
  display: flex;
  flex-direction: column;
}

.create-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.content {
  display: flex;
  margin-top: 5vh;
  height: 80vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 20vw;
  gap: 20px;
}

.deck-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2vh;
}

.left-side button {
  height: 5vh;
  width: 10vw;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 83vh;
  width: 60vw;
  z-index: 9999;
}

.right-side button {
  height: 10vh;
  width: 25vw;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}


@media (max-width: 1100px) {
    .content {
      justify-content: center;
    }

    .left-side {
      background-color: red;
    }

    .right-side {
      background-color: rebeccapurple;
    }

    .card-box {
    margin-left: 5px;
    }
}


.deck-list {

}

.card-box {
}