.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
}

.content {
    display: flex;
}

.content .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    height: 80vh;
    width: 25%;
}
.left-side .l-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
}

.content .right-side {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 40vw;
    margin-left: 6vw;
}

.right-side .r-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    width: 30vw;
    margin: 3vh;
}

.no-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 6vw;
    color: #fff;
    font-size: 2rem;
    text-shadow: 3px 3px #2e2e2e;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 6vw;
}