.drawing-board-container {
    display: flex;
    align-items: center;
    margin-left: 30vw;
}

canvas {
    border: 2px solid black;
    background-color: white;
    cursor: crosshair;
}

.canvas-bottons {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    gap: 1vh;
}
.canvas-bottons button {
    width: 10vw;
    height: 10vh;
}

.kanji-page {
  text-align: center;
  padding: 20px;
}

#kanji-canvas {
  background-color: white;
  cursor: crosshair;
}
