.gridbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 10vh;
}

.grid-item {
    position: relative;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 10vw;
    height: 20vh;
}

.grid-item img {
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: block;
}

.grid-item:hover .overlay {
    display: block;
}

.grid-item:hover {
    transform: scale(1.05);
}

.cleared-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    width: 50%;
    color: #fff;
    font-size: 2rem;
    text-shadow: 3px 3px #2e2e2e;
}

/* .grid-item:hover .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: block;
} */