.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2px #cfcfcf solid;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.popup-text {
    margin: 20px;
    text-overflow: clip;
}

.popup-buttons {
    height: 5vh;
    width: 60%;
    font-size: small;
}
