.box {
  background-color: white;
  width: 14vw;
  height: 50vh;
  border-bottom: 25px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.title-space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ebebeb;
  color: #2e2e2e;
}

.box h2 {
  font-size: 30px;
  font-weight: 500;
}
.box ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 40vh;
  background: #fff;
  margin: 5px 0 5px;
  overflow-y: auto;
}
.box ul:hover li {
  opacity: 0.4;
}
.box ul li {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1vh;
  height: 5vh;
  width: 96%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.box ul li:hover {
  transform: scaleY(1.1);
  z-index: 5;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.trashbin {
  color: #ffffff;
}
.box ul li:hover .trashbin {
  color: rgb(250, 89, 89);
}
.box ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 500;
  transform: translateY(-2px);
}
.box ul li:hover span {
  background: transparent;
}
