.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 550px;
    background-color: white;
    gap: 4vh;
    border-radius: 40px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4),
    3px 3px 3px rgba(20, 20, 20, .3) inset;
}
@media (max-width: 850px) {
    .card {
        height: 75vh;
        width: 50vw;
    }
}
@media (max-width: 600px) {
    .card {
        height: 75vh;
        width: 70vw;
        min-width: 300px;
    }
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    color: rgb(180, 165, 165); 
    font-style: italic;
}

.text-box {
    display: flex;
    height:70%; 
    width: 90%;
    border: 2px solid;
    border-color: rgba(110, 110, 110, 0.4);
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.2) inset,
    -5px -5px 5px rgba(110, 110, 110, 0.2) inset;
    overflow: hidden;
    word-wrap: break-word;
}

.text {
    text-align: center;
    margin: auto;
    font-size: 5em;
    overflow: hidden;
}


